<div *ngIf="cartItems.length === 0">
  <p class="empty-cart">Your cart is empty</p>
</div>

<div class="cart-container">
  <div class="product-card" *ngFor="let item of cartItems; let i = index">

    <img [src]="item.image" alt="{{ item.title }}">

    <h3>{{ item.title }}</h3>
    <p>Price: R{{ item.price }}</p>
    <p>Size: {{ item.size }}</p>

    <div class="quantity-controls">
      <button type="button" (click)="decreaseQty(i)">-</button>
      <span>{{ item.quantity }}</span>
      <button type="button" (click)="increaseQty(i)">+</button>
    </div>

    <p class="subtotal">
      Total: R{{ item.price * item.quantity }}
    </p>
    
    <button type="button" class="btn-remove" (click)="removeItem(i)">Remove</button>

  </div>
</div>


<div class="btns">
  <button type="button" class="checkout">
    Checkout
  </button>